.container{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.radio{}
.label{
    font-size: 13px;
    color: rgb(102, 102, 102);
    text-transform: capitalize;
    font-weight: 500;
}