.card{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
.card:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card  h6{}
.left{}
.left p{}
.flex{}
.flex h3{}
.flex span{}